body {
	font: 0.8em/21px arial,sans-serif;
}

.checkbox, .radio {
	width: 29px;
	height: 27px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 114px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 32px;
	padding: 0 24px 0 8px;
	color: #5f5f5f;
	font: 16px/21px arial,sans-serif;
	background: url(../images/select.png) no-repeat;
	overflow: hidden;
	line-height:32px;
}
